body {
	margin: 0;
	padding: 0;
}
.container{
	position: relative;
	width: 100%;
}
.header ul{
	position: absolute;
	right: 0;
	padding: 30px;
}
li{
	float: left;
	list-style-type: none;
}
a {
	display: block;
	width: 60px;
	vertical-align: left;
	font-family: Arial;
	font-size: 13px;
	text-decoration: none;
	color: #404040 ;
}
 a:hover{
	text-decoration: underline;
	color: black;
}
#button {
	padding: 0px 12px;
	border: 1px solid #4486f8;
	border-radius: 2px;
	width: 45px;
	background-color: #4486f8;
	font-family: sans-serif;
	color: white;
	font-weight: bold;
	text-decoration: none;
	line-height: 28px;

}
.center img {
	height: 60%;
	width: 60%;
}
.center{
	position: absolute;
	top: 50%;
	left: 50%
}

.footer {
	position: fixed;
	width: 100%;
	bottom: 0;
	background-color: #F2F2F2;
	border: 1px solid #e0e0e0;
}